[submodule "library/PigFramework"]
	path = library/PigFramework
	url = https://github.com/preliga/PigFrameworkLibrary
[submodule "library/PigOrm"]
	path = library/PigOrm
	url = https://github.com/preliga/PigOrm
[submodule "public/scripts/lib/PigFrameworkJS"]
	path = public/scripts/lib/PigFrameworkJS
	url = https://github.com/preliga/PigFrameworkJS
